<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/base")

    <script>
        var global = {
            APPLICATION_PATH: "@Request.ApplicationPath",
            BASEURL_PATH: "@Request.Url.GetLeftPart(UriPartial.Authority).ToLower()@Url.Content("~")"
        };
    </script>    
</head>
<body>
    @Html.Partial("_Header")

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <p class="text-center">Valtech Payment Management Test - Alec Ventura</p>
    </footer>

    @if (Request.RawUrl != HttpRuntime.AppDomainAppVirtualPath && Request.RawUrl != HttpRuntime.AppDomainAppVirtualPath + "/")
    {
        @Scripts.Render(GlobalConfig.GetBundleNameByUrl(Request.RawUrl))
    }
    else
    {
        @Scripts.Render(GlobalConfig.GetBundleNameByUrl("/Home/Index"))
    }
    @RenderSection("scripts", required: false)
</body>
</html>
